#footer {
    position: relative;
    background-color: #000;
    color: #fff;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 12px;

    .footer__inner {
        max-width: 1600px;
        margin: 0 auto;

        .footer__text {
            color: #666;
            line-height: 1.5;
            
            p {
                margin: 2px 0;
            }
        }
    }
}
